{% extends 'base.html' %}
{% block page_title %}About{% endblock page_title %}
{% block body %}
<h1>About</h1>
<p>This is a demo project by Samuel Toriel.</p>
<h2>Tech stuff</h2>
<ul>
	<li>Python</li>
	<li>Django</li>
	<li>BigDoor for Gamification</li>
	<li>Twitter for Users</li>
	<li>Twitter Bootstrap for css framework</li>
	<li>Jquery for js framework</li>
	<li>Jquery sparklines for the level bar</li>
	<li>Ubunutu / Nginx / Gunicorn for hosting</li>
	<li>Git / Github for source control</li>
</ul>
{% endblock body %}
