<div class="row">
<div class="span6 offset5">
	<a class="sign_in_link" href="{% url twitter_login %}">
		<div class="sign_in_with_twitter darker">
			<div></div>
			<button>
				<div class="icon"></div>Sign in with Twitter
			</button>
		</div>
	</a>
</div>
</div>
<div class="row">
<div class="span10 offset3 well push-top">
	<p>So you want to the be CEO one day eh? </p>
	<p>Well you better start earning those points to get there! Log your work for the day and maybe we'll see about that promotion I promised you at the end of the quarter. </p>
</div>
</div>
